* {
  box-sizing: border-box;
}

.controls {
  display: flex;
  justify-content: center;
}

.parameter-sliders-container {
  width: 300px;
}

.slider {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.slider-header {
  width: 15%;
  text-align: right;
}

.slider-control {
  width: 80%;
  display: flex;
  align-items: center;
}
