* {
  box-sizing: border-box;
}

.controls {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.parameter-sliders-container {
  width: 30%;
  margin: 0 3%;
}

.slider {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.slider-header {
  width: 15%;
  text-align: right;
}

.slider-control {
  width: 80%;
  display: flex;
  align-items: center;
}

.filter-selection-container {
  width: 40%;
  margin: 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.filter-dropdown-label {
  margin-top: 25px;
  font-size: 1.1em;
}

#filter-ids-dropdown {
  width: 100%;
}

.download-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
